.register-card {
	max-width: 300px;
	margin: 50px auto;
}

.register-fields > * {
	width: 100%;
}

.register-buttons {
	display: flex;
	justify-content: flex-end;
}

.register-buttons img {
	width: 20px;
}

.register-error {
	border-radius: 6px;
    box-sizing: border-box;
    border-color: #f44336;
    color: #f44336;
    border-width: 2px;
}