.search-box {
	margin: 16px 16px 0 16px;
	border-bottom: 1px solid #ccc;

	.wide {
		width: 100%;
		position: relative;

		.searching {
			height: 24px;
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
			z-index: 10;
		}

		.clear-button {
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
			z-index: 10;
		}
	}
}

.start-message {
	padding-top: 16px;
	text-align: center;
}