<mat-toolbar class="header">
	<mat-toolbar-row>
		<button mat-icon-button
				class="header-icon"
				routerLink="/home">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span>Buscar</span>
	</mat-toolbar-row>
</mat-toolbar>

<div class="search-box">
	<mat-form-field class="wide">
		<mat-label>Nombre de la película</mat-label>
		<input matInput
			   name="q"
			   #searchBox>
		@if (searching()) {
		<app-loading class="searching" />
		}
		@else if (hasText()) {
		<button mat-icon-button
				type="button"
				class="clear-button"
				(click)="clearSearch()">
			<mat-icon>close</mat-icon>
		</button>
		}
	</mat-form-field>
</div>

@if (movies().length === 0) {
<div class="start-message">Introduce el título de una película para empezar a buscar.</div>
}
@else {
<mat-nav-list>
	<app-movie-list [movies]="movies()" />
</mat-nav-list>
}