<mat-sidenav-container class="container">
  <mat-sidenav class="sidebar" #sidenav [(opened)]="opened">
    <mat-toolbar color="primary">
	  <mat-toolbar-row>
		<span>Cines</span>
	  </mat-toolbar-row>
	</mat-toolbar>
	<mat-nav-list>
		<a mat-list-item *ngFor="let cinema of cinemas" [routerLink]="['/cinema', cinema.id, cinema.slug]">
			<mat-icon matListIcon >local_movies</mat-icon>
			{{cinema.name | urldecode}}
		</a>
		<a mat-list-item routerLink="/cinemas">
			<mat-icon matListIcon >edit</mat-icon>
			Editar cines
		</a>
    <a mat-list-item (click)="logout($event)">
			<mat-icon matListIcon >power_settings_new</mat-icon>
			Salir
		</a>
	</mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

	<mat-toolbar color="primary">
	  <mat-toolbar-row>
		<button mat-icon-button (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
		</button>
		<span>Cine</span>
	  </mat-toolbar-row>
	</mat-toolbar>
	
	<div class="loading" *ngIf="loading">Cargando...</div>

	<mat-nav-list *ngIf="!loading && !loadError">
	  <a mat-list-item *ngFor="let movie of movies" [routerLink]="['/movie', movie.id, movie.slug]">
  		<img matListAvatar src="{{movie.cover | urldecode}}" [alt]="movie.name">
  		<h3 matLine> {{movie.name | urldecode}} </h3>
      <h4 matLine>{{movie.idCinema | cinemaName}}</h4>
      <p matLine>{{movie.date | urldecode}}</p>
	  </a>
    <a *ngIf="page<numPages" mat-list-item (click)="getMovies($event)" class="load-more">
      <mat-icon>keyboard_arrow_down</mat-icon>
      Cargar más
    </a>
	  <mat-list-item *ngIf="movies.length==0">
		    ¡Todavía no hay ninguna película! Añade la primera pulsando el icono "+".
	  </mat-list-item>
	</mat-nav-list>
	
	<div class="loading" *ngIf="!loading && loadError">Ocurrió un error al cargar las películas.</div>

	<button mat-fab class="btn-bottom-right" routerLink="/add-movie" [disabled]="loadError">
		<mat-icon>add</mat-icon>
	</button>
  </mat-sidenav-content>
</mat-sidenav-container>