/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-bottom-right {
	position: fixed !important;
	bottom: 36px;
	right: 36px;
}

.sidebar {
	min-width: 300px;
}