@use '@angular/material' as mat;

:root {
	--color-blue: #005cbb;
	--color-white: #fff;
	--color-red: #f44336;
	--color-grey: #ccc;

	@include mat.toolbar-overrides((container-background-color: var(--color-blue),
			container-text-color: var(--color-white),
		));
	@include mat.list-overrides((active-indicator-shape: 16px));
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-bottom-right {
	position: fixed !important;
	bottom: 36px;
	right: 36px;
}

.sidebar {
	min-width: 300px;
}

.spacer {
	flex: 1;
}

.center-card {
	max-width: 300px;
	margin: 50px auto;

	.center-card-fields {
		&>* {
			width: 100%;
		}

		.center-card-error {
			border-radius: 6px;
			box-sizing: border-box;
			border-color: var(--color-red);
			color: var(--color-red);
			border-width: 2px;
		}

	}

	.center-card-buttons {
		display: flex !important;
		justify-content: space-between;

		img {
			width: 20px;
			vertical-align: bottom;
		}
	}

	.center-card-buttons-end {
		justify-content: flex-end;
	}
}

.full-width {
	width: 100%;
}

.mat-toolbar {

	.mat-mdc-icon-button,
	.mat-icon,
	.material-icons {
		color: var(--color-white) !important;
	}

	svg {
		fill: var(--color-white);
	}
}